<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Cassidy Pignatello", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Resume</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>

  <div class="main">
    <div class="jumbotron">
      <div class="container">
        <h2>Hi! I'm Cassidy Pignatello, a software engineer from Brooklyn, NY.</h2>
        <a class="btn btn-primary btn-lg pull-right" id="portfolio-button" href="#" role="button">View My Work</a>
      </div>
    </div>
  </div>
</nav>