<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Cassidy Pignatello", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Resume</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="main">
  <div class="jumbotron vertical-center">
    <div class="container">
      <div class="intro"> 
        <h2>Hi! I'm Cassidy Pignatello, a software engineer from Brooklyn, NY.</h2>
        <a class="btn btn-primary btn-lg pull-right" id="portfolio-button" href="#" role="button">View My Work</a>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <ul class="social-media pull-right">
      <li><%= link_to image_tag("github.svg"), "http://www.github.com/cassidypignatello", target: "_blank" %></li>
      <li><%= link_to image_tag("linkedin.svg"), "http://www.linkedin.com/in/cassidypignatello", id: "linkedin", target: "_blank" %></li>
      <li><%= link_to image_tag("twitter.svg"), "http://www.twitter.com/itscassidy", target: "_blank" %></li>
    </ul>
    <p>&copy;2015 Cassidy Pignatello</p>
  </div>
</footer>