// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  font-family: 'Open Sans', sans-serif;
}

.jumbotron .container {
  /*background-image: url('');
  background-size: cover;
  min-height: 600px;
  width: 100%;*/
}

.jumbotron h2 {
  text-align: center;
}

#portfolio-button {
  margin-top: 20px;
  margin-right: 116px;
  padding: 15px;
}

